#wrap{
  background-color: rgb(43, 46, 51) ;
  display: flex;
  justify-content: center
}


#mainWrap{
    margin-top: 50px;
    width: 80%;
    height: 500vh;
    background-color: white;
    border-radius: 13px;
}

.title{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#iconWrap{
    display: flex;
    justify-content: center;
}

.iconImg{
    font-size: 35px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    
}

#intWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#intTitle{
    font-size: 25px;
    font-weight: bold;
}


#stackWrap{
}




.stackBr{
    border: solid 1px;
    border-bottom: rgb(102, 102, 102);
}

.stackImg{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}